name: Build Custom ONNX Runtime (Bash)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build_ort:
    name: Build ORT (${{ matrix.arch }})
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x64
            build_arg: ""
            artifact_name: onnxruntime-x64
          - arch: x86
            build_arg: "--x86"
            artifact_name: onnxruntime-x86

    steps:
      - name: Checkout ONNX Runtime
        uses: actions/checkout@v6
        with:
          repository: microsoft/onnxruntime
          ref: v1.23.2
          submodules: false
          fetch-depth: 1

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          architecture: ${{ matrix.arch }}

      - name: Locate vcvarsall and Setup Env
        uses: ./.github/actions/locate-vcvarsall-and-setup-env
        with:
          architecture: ${{ matrix.arch }}

      - name: Install python modules
        shell: cmd
        run: python -m pip install -r "${{ github.workspace }}\tools\ci_build\github\windows\python\requirements.txt"

      - name: Create Operator Config
        shell: bash
        run: |
          echo "Creating config file..."
          echo "ai.onnx;16;Add,Cast,Concat,Constant,ConstantOfShape,Conv,Equal,Gather,Identity,If,LSTM,Not,Pad,Pow,ReduceMean,Relu,Reshape,Shape,Sigmoid,Size,Slice,Sqrt,Squeeze,Transpose,Unsqueeze" > custom_ops.config
          cat custom_ops.config

      - name: Build and Test
        shell: pwsh
        run: |
          python.exe "${{ github.workspace }}\tools\ci_build\build.py" --config MinSizeRel --build_dir "${{ github.workspace }}\build" --skip_submodule_sync --skip_tests --parallel --use_binskim_compliant_compile_flags --cmake_generator "Visual Studio 17 2022" --build_shared_lib --msbuild_extra_options "IncludeMobileTargets=false" --compile_no_warning_as_error --use_vcpkg --use_vcpkg_ms_internal_asset_cache --disable_ml_ops --disable_exceptions --disable_rtti --minimal_build custom_ops --include_ops_by_config custom_ops.config
          if ($LASTEXITCODE -ne 0) {
            exit $LASTEXITCODE
          }
          Remove-Item "${{ github.workspace }}\build\MinSizeRel" -Include "*.obj" -Recurse

      - name: Organize Artifacts
        shell: bash
        run: |
          mkdir -p output/{include,lib,bin}

          echo "Copying Headers..."
          cp include/onnxruntime/core/session/onnxruntime_c_api.h output/include/
          cp include/onnxruntime/core/session/onnxruntime_cxx_api.h output/include/
          cp include/onnxruntime/core/session/onnxruntime_cxx_inline.h output/include/

          if [ -f "include/onnxruntime/core/providers/cpu/cpu_provider_factory.h" ]; then
            cp include/onnxruntime/core/providers/cpu/cpu_provider_factory.h output/include/
          fi

          echo "Copying Libs and DLLs..."
          BUILD_DIR="${{ github.workspace }}/build/MinSizeRel/MinSizeRel"

          cp "$BUILD_DIR/onnxruntime.dll" output/bin/
          cp "$BUILD_DIR/onnxruntime.lib" output/lib/

          echo "Done contents of output:"
          ls -R output

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: output/

    env:
      OrtPackageId: Microsoft.ML.OnnxRuntime
      OnnxRuntimeBuildDirectory: ${{ github.workspace }}\build
